[Unit]
Description=NodeJS Tracker Team 8
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2025/project3/t8/
ExecStart=npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

